.navbar {
  background: linear-gradient(90deg, rgb(26, 23, 23) 0%, rgb(151, 1, 1) 100%);
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 10;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar .logo {
  color: #fff;
  justify-self: start;
  margin: 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.hamburger {
  color: goldenrod;
  display: none;
  padding: 1rem;
}


h1 span {
  color: rgb(192, 3, 3);
  font-family: 'Rouge Script', cursive;
}

.navbar .nav-menu {
  display: flex;
  padding: 1rem;
}

.navbar ul {
  color: whitesmoke;
  list-style-type: none;
}

.navbar li {
  color: whitesmoke;
  padding: 1rem;
  font-weight: 600;
  font-size: 30px;
  color: whitesmoke;
}

button {
  align-items: center;
  display: grid;
  background-color: goldenrod;
  color:  whitesmoke;
  border-radius: 10px;
  border: 1px solid red;
  justify-content: center;
}

@media screen and (max-width: 940px) {
  .navbar .hamburger {
      display: block;
      z-index: 15;
  }

  .navbar .nav-menu {
      position: absolute;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      top: 0;
      left:-100%;
      align-items: center;
      justify-content: center;
      background: black;
      transition: 0.5s ease-in;
  }

  .navbar .active {
      left: 0;
  }

  .navbar li {
      margin-right: 1rem;
      font-size: 2rem;
  }

  .navbar button {
      font-size: 1.8rem;
  }


}
