.navbar {
  background: linear-gradient(90deg, rgb(26, 23, 23) 0%, rgb(151, 1, 1) 100%);
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar .logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #fff;
  justify-self: start;
  margin: 1rem;
}

h1 span {
  color: rgb(192, 3, 3);
  font-family: 'Rouge Script', cursive;
}


.hamburger {
  color: goldenrod;
  display: none;
  padding: 1rem;
}

.navbar .nav-menu {
    height: 100%;
    align-items: center;
    display: flex;
    padding: 1rem;
    text-decoration: none;
}

/* .navbar .nav-menu:hover {
  border-bottom: 1px solid #fff;
  transition: all 0.2s ease-out;
} */

.navbar ul {
  color: whitesmoke;
  list-style-type: none;
  text-decoration: none;
}

.navbar li {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

button {
  background-color: var(--primary);
  color: black;
  border: 1px solid var(--primary);
  background-color: transparent;
  color: whitesmoke;
  padding: 8px 20px;
  border: 1px solid goldenrod;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

@media screen and (max-width: 940px) {
  .navbar .hamburger {
      display: block;
      z-index: 15;
  }

  .navbar .nav-menu {
      position: absolute;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      top: 0;
      left:-100%;
      align-items: center;
      justify-content: center;
      background: black;
      transition: 0.5s ease-in;
  }

  .navbar .active {
      left: 0;
  }

  .navbar li {
      margin-right: 1rem;
      font-size: 2rem;
  }

  .navbar button {
      font-size: 1.8rem;
  }


}
